@import "vendor/normalize/normalize-8.0.0";

$break1: 1100px;
$break2: 800px;

@mixin hide {
  position: absolute;
  left: -999em;
  /* http://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
  top: -999px;
}

@mixin inline($separator, $sep) {
  &, & > li {
    /* http://www.alistapart.com/articles/taminglists/ */
    display: inline;
    margin: 0;
    padding-left: 0;
  }
  & > li + li {
    // old IE doesn't recognize ::before, so this keeps items at least a little separate
    padding-left: $sep/2;
    &::before {
      font-style: normal;
      content: $separator;
      padding-right: $sep/2;
    }
  }
}

.hidden {
  @include hide;
}

///////////
//
// General
//
///////////

body {
  font-family: "Georgia", serif;
  font-size: 12pt;
}

h1 {
  font-size: 225%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 131.25%;
}
h4,
h5,
h6 {
  font-size: 112.5%;
}
h5,
h6 {
  font-style: italic;
}
h6 {
  font-weight: normal;
}

@media screen and (max-width: $break1) {
  h1 {
    font-size: 171.5%;
  }
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 128.5%;
  }
  h4,
  h5,
  h6 {
    font-size: 114.3%;
  }
}

@media screen and (max-width: $break2) {
  body {
    font-size: 10pt;
  }
}

footer {
  border-top: .5em solid #00356B;
  background-color: #e3edff;

  margin-top: 2em;
  padding: 1em 1em 2em 2em;

  &, a {
    text-decoration: none;
    color: #00356B;
  }

  a:hover {
    background-color: #00356B;
    color: #e3edff;
  }

  ul {
    @include inline(" • ", 4px);
    font-style: italic;
  }
}
.logout {
  font-size: 16pt;
  font-style: italic;
}

[type='radio'] {
  margin: 1rem 0;
}

label[for='profile_datacite'],
label[for='profile_dc'] {
  padding: 1em 2em 1em .5em;
}

///////////
// Flashes
///////////

.error,
.info,
.warning {
  font-size: 16pt;
  text-align: center;
  padding: .25em;
}
.error {
  color: white;
  background-color: #f00;
}
.warning {
  background-color: #ffa500;
}
.info {
  background-color: #b0e0e6;
}

//////////
//
// Views
//
//////////

.simple {
  h1, h2 {
    text-align: center;
  }

  label {
    font-style: italic;
  }
  input[type='email'],
  input[type='file'],
  input[type='password'],
  input[type='text'] {
    width: 100%;
    margin: 0 0 .5em;
  }
  input[type='submit'] {
    text-align: center;
    margin: 0 35%;
  }
}

@media screen and (min-width: $break2) {
  .simple form {
    width: 40%;
    padding: 0 30%;
  }
}
@media screen and (max-width: $break2) {
  .simple form {
    padding: 0 2%;
    width: 100%;
  }
}

//
// .table
//
.table body > *:not(footer):not(.warning):not(.error) {
  margin: 1%;
}

table {
  margin-bottom: .5em;
}

.minted th {
  font-weight: bold;
}

tbody tr:first-child td:not(:first-of-type):not(.delete) {
  border-top: 5px solid #00356B;
}

th {
  // leaving as 'bold' increases the width of the inputs
  font-weight: normal;
  input {
    padding: 0 2% 2% 4%;
  }
}

td input,
td.datacite_resourcetype,
.minted td:not(:first-of-type) {
  border: 2px solid #00356B;
  border-top: 0;
}
td input {
  padding: .5em 2% .5em 4%;
}
.minted td {
  padding: .5em;
}

.ark {
  padding: 1em 2em;
}
span.ark:before {
  content: "Unminted";
}

.ark:before {
  font-style: italic;
  color: #ccc;
}

button,
input[type='submit'] {
  border: 0;
  border-radius: 5px;
  color: white;
}

button.delete {
  background-color: red;
}

button.add {
  margin-right: 1em;
  padding: .5em 1em;
  background-color: green;
}
input[type='submit'] {
  padding: .5em 1em;
  background-color: #00356B;
}

//
// Special handling for the DataCite ResourceType element
//
input.datacite_resourcesubtype {
  border-left: 0;
}
td.datacite_resourcetype {
  border-right: 0;
}

//
// Row counter
//
table {
  counter-reset: rows;
}

.line_number {
  counter-increment: rows;
}

.line_number:before {
  color: #ccc;
  content: counter(rows);
  font-style: italic;
  padding-right: 1em;
}
