<%- include('header') %>

<header>
  <h1>Records minted by "<%= user %>" (<a href='/' title='Mint ARKs'>mint more</a>)</h1>
</header>

<main>
  <p>Minted ARKs from jobs that are in progress may appear on this page;
    wait until you receive an email confirming that all records have been
    processed before downloading the job.</p>

  <%- archive %>
</main>

<%- include('footer') %>
