<%- include('header') %>

<header>
  <h1>Review objects</h1>
</header>

<main>
  <h2><%= profile_name %> objects</h2>
  <form action="/<%= status %>" method="post">
    <input type='hidden' name='_profile' value='<%= profile %>'>
    <input type='hidden' name='user' value='<%= user %>'>

    <% if (status === 'update') { %>
      <h3>These records have already been minted</h3>
      <p>You may update their metadata now.  The metadata you see below
        is what you provided; make sure your metadata is not out-of-date!</p>
    <% } else { %>
      <h3>New records</h3>
    <% } %>

    <%- include('editing_table') %>

    <p>
      <label for='email'>We’ll email you if anything goes wrong:</label>
      <br>
      <input type='email' required name='email' placeholder='Enter your email address' value='<%= user %>'>
    </p>

    <input type="submit" value="Finish" />
  </form>
</main>

<%- include('footer') %>
