<table id='<%= status %>' class='<%= profile %> text'>
  <thead><tr>
    <th class='standard_header'></th>
    <%- standardHeaders %>
    <%- extraHeaders %>
  </tr></thead>

  <tbody>
    <%- entries %>
  </tbody>
</table>

<button type="button" class="add <%= profile %>">Add row</button>
