<footer>
  <p>Copyright &copy; 2018 The Regents of the University of California, All Rights Reserved.</p>
  <% if (typeof user !== 'undefined') { %>
    <p class='logout'>Logged in as <%= user %></a>
      <ul>
        <li><a href='/archive' title='Archive of minted records'>Previously minted records</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </p>
    <% } %>
</footer>
<script src="/scripts/application.js" async="async" defer="defer"></script>
</body>
</html>
