<!DOCTYPE html>
<html class="<%= (typeof htmlclass === "undefined" ? "simple" : htmlclass) %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <meta property="og:title" content="<%= title %> | ARK Minter" />
  <meta property="og:type" content="website" />
  <!-- http://stackoverflow.com/a/6204025 -->
  <meta name="description" property="og:description" content="Batch minting application for EzID ARKs" />

  <title><%= title %> | ARK Minter</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" media="screen" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js" integrity="sha384-302VbqujSMfxaP68VZlkyj8Lm6BMyRG6g9to0rxGPCwJg1/roloFqMP9twkd1m8+" crossorigin="anonymous"></script>
  <![endif]-->
</head>
<body>
  <% if (typeof flash !== 'undefined') { %>
    <% flash.forEach(function (msg) { %>
      <div class="error"><p><%= msg %></p></div>
    <% }) %>
  <% } %>
