<%- include('header') %>

<header>
  <h1>Log in to mint ARKs</h1>
</header>

<main>
  <form class="login" action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" required="true" />

    <label for="password">Password</label>
    <input type="password" name="password" required="true" />

    <input type="submit" value="Log In" />
  </form>
</main>

<%- include('footer') %>
