<%- include('header') %>

<header>
  <h1>Your ARKs are being processed!</h1>
</header>

<main>
  <p>If it's a very small job it might be done already!  Check your <a href='/archive'>archived jobs</a>.</p>
</main>

<%- include('footer') %>
