<%- include('header') %>

<header>
  <h1>Upload metadata</h1>
</header>

<main>
  <h2>Upload Excel spreadsheet (5MB max)</h2>
  <form action="/upload" method="post" enctype="multipart/form-data" multipart="true">
    <label for="spreadsheet">Spreadsheet</label>
    <input type="file" id="spreadsheet" name="spreadsheet" required="true" />

    <input type="radio" name="_profile" id="profile_dc" value="dc">
    <label for="profile_dc">DublinCore</label>

    <input type="radio" name="_profile" id="profile_datacite" value="datacite" />
    <label for="profile_datacite">DataCite</label>

    <input type="radio" name="_profile" id="profile_erc" value="erc" checked="checked"/>
    <label for="profile_erc">ERC</label>

    <input type="submit" value="Upload" />
  </form>
</main>

<%- include('footer') %>
