@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.hidden {
  position: absolute;
  left: -999em;
  /* http://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
  top: -999px; }

body {
  font-family: "Georgia", serif;
  font-size: 12pt; }

h1 {
  font-size: 225%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 131.25%; }

h4,
h5,
h6 {
  font-size: 112.5%; }

h5,
h6 {
  font-style: italic; }

h6 {
  font-weight: normal; }

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 171.5%; }

  h2 {
    font-size: 150%; }

  h3 {
    font-size: 128.5%; }

  h4,
  h5,
  h6 {
    font-size: 114.3%; } }
@media screen and (max-width: 800px) {
  body {
    font-size: 10pt; } }
footer {
  border-top: .5em solid #00356B;
  background-color: #e3edff;
  margin-top: 2em;
  padding: 1em 1em 2em 2em; }
  footer, footer a {
    text-decoration: none;
    color: #00356B; }
  footer a:hover {
    background-color: #00356B;
    color: #e3edff; }
  footer ul {
    font-style: italic; }
    footer ul, footer ul > li {
      /* http://www.alistapart.com/articles/taminglists/ */
      display: inline;
      margin: 0;
      padding-left: 0; }
    footer ul > li + li {
      padding-left: 2px; }
      footer ul > li + li::before {
        font-style: normal;
        content: " • ";
        padding-right: 2px; }

.logout {
  font-size: 16pt;
  font-style: italic; }

[type='radio'] {
  margin: 1rem 0; }

label[for='profile_datacite'],
label[for='profile_dc'] {
  padding: 1em 2em 1em .5em; }

.error,
.info,
.warning {
  font-size: 16pt;
  text-align: center;
  padding: .25em; }

.error {
  color: white;
  background-color: #f00; }

.warning {
  background-color: #ffa500; }

.info {
  background-color: #b0e0e6; }

.simple h1, .simple h2 {
  text-align: center; }
.simple label {
  font-style: italic; }
.simple input[type='email'],
.simple input[type='file'],
.simple input[type='password'],
.simple input[type='text'] {
  width: 100%;
  margin: 0 0 .5em; }
.simple input[type='submit'] {
  text-align: center;
  margin: 0 35%; }

@media screen and (min-width: 800px) {
  .simple form {
    width: 40%;
    padding: 0 30%; } }
@media screen and (max-width: 800px) {
  .simple form {
    padding: 0 2%;
    width: 100%; } }
.table body > *:not(footer):not(.warning):not(.error) {
  margin: 1%; }

table {
  margin-bottom: .5em; }

.minted th {
  font-weight: bold; }

tbody tr:first-child td:not(:first-of-type):not(.delete) {
  border-top: 5px solid #00356B; }

th {
  font-weight: normal; }
  th input {
    padding: 0 2% 2% 4%; }

td input,
td.datacite_resourcetype,
.minted td:not(:first-of-type) {
  border: 2px solid #00356B;
  border-top: 0; }

td input {
  padding: .5em 2% .5em 4%; }

.minted td {
  padding: .5em; }

.ark {
  padding: 1em 2em; }

span.ark:before {
  content: "Unminted"; }

.ark:before {
  font-style: italic;
  color: #ccc; }

button,
input[type='submit'] {
  border: 0;
  border-radius: 5px;
  color: white; }

button.delete {
  background-color: red; }

button.add {
  margin-right: 1em;
  padding: .5em 1em;
  background-color: green; }

input[type='submit'] {
  padding: .5em 1em;
  background-color: #00356B; }

input.datacite_resourcesubtype {
  border-left: 0; }

td.datacite_resourcetype {
  border-right: 0; }

table {
  counter-reset: rows; }

.line_number {
  counter-increment: rows; }

.line_number:before {
  color: #ccc;
  content: counter(rows);
  font-style: italic;
  padding-right: 1em; }

/*# sourceMappingURL=application.css.map */
